/* styles.css */
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #2b2b2b;
    color: #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 50px;
}

.title-page {
    font-size: 3em;
    margin-bottom: 80px;
}

#app .emoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
    margin: 30px;
}

.progress {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    background-color: #00cc66;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
    position: relative;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    font-size: 24px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 20px;
}

.game-button {
    background-color: #1a1a1a;
    color: #e3e3e3;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.achievement {
    border: 2px solid #777;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    display: none;
}

.custom-achievement {
    background-color: #1a1a1a;
}

.opposite-achievement {
    background-color: #ff4d4d;
}

.unlocked {
    display: block;
}

#botaoGamer {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#botaoGamer:hover {
    background-color: #45a049;
}

.icon-gamer {
    margin-right: 8px;
    font-size: 24px;
}

/* Adapte o tamanho da fonte para telas menores (exemplo: smartphones em modo retrato) */
@media (max-width: 576px) {

    body{
        max-width: 576px;
    }
    
    .title-page {
        font-size: 2em;
    }

    .game-container h2 {
        font-size: 1.5rem;
    }

    .game-container p {
        font-size: 1rem;
    }
    
    footer p{
        font-size: 0.5rem;
    }

    footer #botaoGamer{
        font-size: 0.6rem;
        padding: 4px 25px;
    }
}

/* Adapte o tamanho da fonte para telas pequenas e médias (exemplo: tablets e monitores menores) */
@media (min-width: 577px) and (max-width: 992px) {
    .title-page {
        font-size: 2em;
    }

    .game-container h2 {
        font-size: 1.8rem;
    }

    .game-container p {
        font-size: 1rem;
    }

    footer{
        font-size: 1rem;
    }
}

/* Adapte o tamanho da fonte para telas grandes e extra grandes (exemplo: monitores maiores) */
@media (min-width: 993px) {
    .title-page {
        font-size: 3.5em;
    }

    .game-container h2 {
        font-size: 2rem;
    }

    .game-container p {
        font-size: 1.2rem;
    }

    footer{
        font-size: 1rem;
    }
}